/* App.css */
/* PARAMETERS */
/* TOP RIGHT BOT LEFT */
/* VERTI HORI */
/* TOP LEFT/RIGHT BOT */

body, html {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #282c34;
  color: white;
}

.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1; 
  width: 100%;
  background-color: #282c34;
}

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  box-sizing: border-box;
}

.app-footer {
  width: 100%;
  background-color: #000000;
  color: white;
  text-align: left;
  padding: 5px 0;
  box-sizing: border-box;
  position: static;
  bottom: 0;
  font-size: 10px;
  margin: 5px 0 0 0;
}

.app-footer p {
  margin: 5px 0; 
  line-height: 1.2;
}

.app-footer a {
  color: #61dafb;
  text-decoration: none;
}

.app-footer a:hover {
  text-decoration: underline;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Info of Pokemon Selected */
#info-id {
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  margin-left: 5px;
  margin-top: 5px;
  color:rgb(51, 51, 88);
}

.info-hw {
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  color:rgb(51, 51, 88);
  line-height: .2;
  margin-bottom: -20px;
}

.info-ht {
  border: 2px solid black;
  padding: 10px;
  margin-top: -5px;
}

.info-wt {
  border: 2px solid black;
  padding: 10px;
  margin-top: -15px;
}

#info-name {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  background-color: white;
  margin: 10px 15px -5px;
  color: black;
}

#info-img {
  width: 300px; 
  height: 175px;
  margin: 5px 0 -10px;
  background-image: url('./assets/info-img-bg.jpg'); 
  background-size: cover;
  background-position: center; 
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; 
  margin: 20px;
}

#info-img img {
  width: 75%;
  height: 100;
  object-fit: cover;
  z-index: 1;
}

.info-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
}

.info-twa, .info-stats {
  color: black;
  flex: 1;
  margin: -10px 10px;
}

.stats-list {
  font-size: 16px;
  list-style-type: none;
  padding: 0;
}

.stat-bar-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.stat-bar-label {
  width: 100px;
  text-align: right;
  margin-right: 10px;
  font-weight: bold;
}

.stat-bar {
  height: 15px;
  background-color: #ccc;
  border-radius: 5px;
  flex: 1;
  position: relative;
}

.stat-bar-fill {
  height: 100%;
  border-radius: 5px;
  transition: width 0.3s;
}

.stat-bar-fill.hp { background-color: #ff5959; }       /* HP: Red */
.stat-bar-fill.attack { background-color: #f5ac78; }   /* Attack: Orange */
.stat-bar-fill.defense { background-color: #fae078; }  /* Defense: Yellow */
.stat-bar-fill.special-attack { background-color: #9db7f5; } /* Special Attack: Light Blue */
.stat-bar-fill.special-defense { background-color: #a7db8d; } /* Special Defense: Light Green */
.stat-bar-fill.speed { background-color: #fa92b2; }    /* Speed: Pink */

/* Overlay and Modal for Info */
.overlay {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.815); /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Overlay is on top */
}

.modal {
  background-color: rgb(253, 198, 198);
  padding: 10px;
  border-radius: 10px;
  max-width: 40%; 
  width: 40%; 
  max-height: 80%; 
  height: 80%; 
  box-sizing: border-box;
  text-align: center; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: space-between; 
}

.modal-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
}

/* Left and Right buttons in Modal */
.btnNavigate {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  background-color: #61dafb;
  border: none;
  border-radius: 20%;
  padding: 10px 15px;
  font-size: 24px;
  cursor: pointer;
  z-index: 1001;
  color: black;
  min-width: 100px;
  white-space: nowrap;
}

#btnPrevious {
  left: 10px;
  margin-left: 25px;
}

#btnNext {
  right: 10px;
  margin-right: 25px;
}

.btnNavigate:hover {
  background-color: #21a1f1;
}

/* Back to the Pokedex button */
.btnBack {
  position: fixed;
  margin-bottom: 5px;
  top: 10px;
  padding: 10px 20px;
  font-size: 25px;
  cursor: pointer;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  color: black;
  z-index: 1001;
}

.btnBack:hover {
  background-color: #21a1f1;
}

.btnLoadMore {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  color: black;
  margin: 20px 0px;
}

.btnLoadMore:hover {
  background-color: #21a1f1;
}

.pokemon-cards-container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.pokemon-card {
  background-color: rgb(255, 224, 224);
  color: black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 150px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#card-id{
  color: #97fcff;
  font-size: 20px;
  background-color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  margin: 10px 30px;
}

#card-name{
  color: #000000;
  font-size: 20px;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  margin: 0px;
}

#card-img {
  width: 100px;
  height: 100px;
}

.card-type-container {
  display: flex;
  gap: 5px; /* Space between ovals */
  justify-content: center;
}

.card-type-icon {
  width: 32px; 
  height: 32px;
  margin: 0 5px; 
  border-radius: 50%;
  padding: 5px;
}

.card-type-icon.Normal { background-color: #A8A77A; }
.card-type-icon.Fire { background-color: #EE8130; }
.card-type-icon.Water { background-color: #6390F0; }
.card-type-icon.Electric { background-color: #F7D02C; }
.card-type-icon.Grass { background-color: #7AC74C; }
.card-type-icon.Ice { background-color: #96D9D6; }
.card-type-icon.Fighting { background-color: #C22E28; }
.card-type-icon.Poison { background-color: #A33EA1; }
.card-type-icon.Ground { background-color: #E2BF65; }
.card-type-icon.Flying { background-color: #A98FF3; }
.card-type-icon.Psychic { background-color: #F95587; }
.card-type-icon.Bug { background-color: #A6B91A; }
.card-type-icon.Rock { background-color: #B6A136; }
.card-type-icon.Ghost { background-color: #735797; }
.card-type-icon.Dragon { background-color: #6F35FC; }
.card-type-icon.Dark { background-color: #705746; }
.card-type-icon.Steel { background-color: #B7B7CE; }
.card-type-icon.Fairy { background-color: #D685AD; }

/* Error Message */
#txtErr {
  margin: 5px 0;
  color: red;
}

/* Pokedex Logo */
#imgPokedexLogo {
  width: 300px;
  height: auto;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  background-color: #282c34;
  z-index: 1000;
}

/* SEARCH BAR + SORT BAR*/
.search-container {
  font-weight: bold;
  position: relative;
  width: 100%;
  max-width: 1000px;
  display: flex;
  align-items: center; 
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-wrapper { 
  position: relative;
  width: 400px;
  display: flex;
  align-items: center;
}

#sortOrder {
  padding: 10px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #61dafb;
  color: #282c34;
  cursor: pointer;
  margin-left: auto; /* Align right */
}

#sortOrder:hover {
  background-color: #21a1f1;
}

@media (max-width: 768px) {
  .search-container {
    flex-direction: column;
    align-items: flex-start;
  }

  #sortOrder {
    margin-left: 0;
    margin-top: 10px;
    width: 100%; /* Full width for small screens */
  }
}

#search-field {
  margin: 10px 0;
  padding: 10px 40px 10px 10px; /* Padding right for icon */
  font-size: 20px;
  width: 100%;
  box-sizing: border-box;
}

#btnSearch {
  position: absolute;
  right: 10px;
  border: none;
  background: none;
  cursor: pointer;
  color: white;
}

#btnSearch .fas {
  font-size: 20px;
}

#btnSearch:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltiptext {
  visibility: hidden;
  width: 60px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -30px;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Dropdown container */
.suggestions-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  z-index: 10;
}

/* Individual suggestion item */
.suggestion-item {
  padding: 10px;
  cursor: pointer;
  color: #282c34;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

.suggestion-item.selected {
  background-color: #21a1f1;
  color: white;
}

/* Filter */

#filter-toggle-btn{
  font-weight: bold;
  font-size: 20px;
  margin-top: -10px;
  color: rgb(235, 235, 255);
  background-color: rgba(0, 0, 0, 0.315);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filter-options {
  font-weight: bold;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  margin: 10px 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #282c34;
  background-color: rgb(255, 147, 147);
  transition: background-color 0.3s ease; /* Smooth transition for background color change */
}

.filter-options div {
  margin: 10px 15px;
  display: flex;
  align-items: center;
}

.filter-options div label {
  margin-left: 5px; /* Space between checkbox and label */
}

.filter-options button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  color: #282c34;
  transition: background-color 0.3s ease; /* Smooth transition for background color change */
}

.filter-options button:hover {
  background-color: #21a1f1;
}

.filter-options input[type="checkbox"]:disabled + label {
  color: rgb(219, 217, 217);
  cursor: not-allowed;
}

#filter-range {
  width: 100%;
}

#filter-range-min,
#filter-range-max {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  -webkit-appearance: none;
  background: transparent;
}

#filter-range-min::-webkit-slider-thumb,
#filter-range-max::-webkit-slider-thumb {
  pointer-events: all;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #61dafb;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

/* Slider */
.slider-container-id {
  position: relative;
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
}

.slider-label-id {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}

.slider-wrapper {
  position: relative;
  height: 30px;
}

.slider-container-name {
  position: relative;
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
}

.slider-label-name {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}
